@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <b class="display-4">Demo ödeme sayfası için aşağıdaki butona tıklayın</b>
    <br></br>
    <form method="post" asp-action="PayTR" asp-controller="OdemeSayfasi"><button>Post</button></form>
</div>
